$tuba-gray: #404248;

a {
  cursor: pointer;
  color: #525f7f !important;
  &:hover {
    color: #0b90a8 !important;
  }
}

.bg-gradient-primary {
  background: #f7fafc !important;
}

.fill-default {
  fill: rgb(218, 194, 175) !important;
}
.bg-default {
  background: rgb(218, 194, 175) !important;
}

@media (min-width: 1300px) {
  .main-content-block {
    max-width: 1250px;
  }
}
@media (min-width: 1400px) {
  .main-content-block {
    max-width: 1350px;
  }
}
@media (min-width: 1500px) {
  .main-content-block {
    max-width: 1450px;
  }
}

.tuba-navbar {
  flex-wrap: nowrap;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  .navbar-brand {
    display: block;
    padding-left: 20px;
    img {
      height: 100%;
    }
  }
  .nav-top-line {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar-nav {
  .active {
    .nav-link {
      font-weight: 700;
      color: #129fd6;
    }
  }
}
.sidenav-shop-expandable {
  display: flex;
  justify-content: space-between;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .product-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .price-text {
    margin-bottom: 1rem;
  }
}
.splide {
  padding: 0 !important;
}
.table-cart {
  display:table;
}
.div-cart {
  flex-direction: column;
  display: none;
}

@media (max-width: 700px) {
  .splide {
    padding: 0 !important;
  }
  .slider-secondary-mobile {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tuba-navbar {
    .nav-top-line {
      flex-direction: column-reverse;
      .top-cart {
        margin-top: 10px;
      }
    }
  }
  .table-cart {
    display:none;
  }
  .div-cart {
    display: flex;
  }

}

.shop-sidebar {
  padding-left: 20px;
  padding-top: 38px;
  .nav-item a {
    color: #525f7f !important;
    font-weight: 500;
    padding-top: 12px;
  }
  .nav-item.active a {
    color: #0289c9 !important;
  }
}
.breadcrumb-wrapper {
  width: 100%;
  .breadcrumb {
    padding-bottom: 0;
    line-height: 40px;
    padding-left: 10px;
    background-color: transparent;
  }
}

.button-smaller {

}
.amount-chooser {
  a {
    cursor: pointer;
  }
  input {
    width: 40px;
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background: white !important;
  }
  margin-bottom: 15px;
}
.size-chooser {
  margin-bottom: 15px;
}

.top-cart {
  font-size: 25px;
  margin-left: 15px;
  margin-right: 20px;
  position: relative;
  span {
    position: absolute;
    z-index: 1;
    font-size: 14px;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    color: #1d1d1d;
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
  }
}

.main-menu {
  a {
    color: rgb(82, 95, 127) !important;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
    }
    white-space: nowrap;
  }
  margin-bottom: 2.4rem ;
  @media (max-width: 700px) {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  @media (min-width: 700px) {
    a {
      padding: 5px;
      margin: 10px;
    }
  }

}

.color-chooser {
  .color {
    cursor: pointer;
    border: 1px solid #606060;
    border-radius: 5px;
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px;
    padding: 5px;
    float: left;
    background-size: 32px 32px;
  }
  .color-active {
    -webkit-box-shadow: 4px 4px 10px 0 rgb(40, 40, 40);
    -moz-box-shadow: 4px 4px 10px 0 rgba(40,40,40,1);
    box-shadow: 4px 4px 10px 0 rgb(40, 40, 40);
  }
  margin-bottom: 15px;
}

.heading-container {

}

@media (max-width: 700px) {
  .heading-container {
    padding-top: 0 !important;
  }
  .main-content-block {
    margin-top:-80px;
  }
}

.card-img-top {
  height: 400px;
  /* [1.1] Set it as per your need */
  overflow: hidden;
  img {
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
    height: auto;
    width: auto;
    max-width: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.splide__arrow {
  opacity: 0.4;
  svg {
    width: 1em !important;
    height: 1em !important;
    fill: #92aba9 !important;
  }
}

.organizer {
  .categories {
    .active {
      font-weight: bold;
    }
  }
}
.modal-big {
  max-width: 90vw;
}
.image-col {
  max-width: 80vw;
}
.wide-table {
  input, select {
    width: 100%;
  }
}

.page-margin {
  margin: 15px;
}

.reviews-list {
  width: 100%;

  .review {
    display: flex;
    margin: 15px;
    &--left {
      min-width: 250px;
      margin-right: 30px;
      .review--name {
        font-weight: bold;
      }
      .review--stars {
        img.icon {
          width: 20px;
          height: 20px;
        }
      }
    }
    &--right {
      width: 100%;
      display: flex;
      background: #ECF0F1;
      .review--content {

      }
    }
  }

  @media (max-width: 600px) {
    .review {
      flex-direction: column;
    }
  }

}

.table-sizes {
  td,th {
    padding:0 !important;
    font-size: 0.7rem !important;
  }
}

/*.main-message {
  display: flex;
  text-align: left;
  line-height: 33px;
  margin-bottom: 15px;
}*/

.main-message {
  background: url('/assets/img/bg_home.jpg');
  width: 100vw;
  height: 70vh;

  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (max-width: 600px) {
    background-position: center top;
    height: 60vh;
  }
  margin-bottom: 1rem;
  display: flex;
  /*justify-content: space-around;*/
  position: relative;
  .main-message--center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*text-align: center;*/
    padding-left: 5vw;
  }
  h2 {
    font-size: 3rem;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A0A0A0;
    margin-bottom: 40px;
  }
  a {
    background: #dac2af;
    color: #404040;
    border-color: #dac2af;
    &:hover {
      background: #e0b48f;
      color: #404040;
      outline: none;
      border-color: #dac2af;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  z-index: 2048;
}

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: calc(var(--gutter) / 2);
  overflow-y: auto;
  z-index: 2049;
  min-height: -webkit-fill-available;
  @media (max-width: 600px) {
    justify-content: center;
  }
  .modal {
    position: relative;
    width: 90vw;
    max-height: 90vh;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px 0 rgb(40, 40, 40);
    -moz-box-shadow: 4px 4px 10px 0 rgba(40,40,40,1);
    box-shadow: 4px 4px 10px 0 rgb(40, 40, 40);
    border-radius: 4px;
    overflow-y: auto;
    .modal-close {
      text-align: right;
      margin: 5px;
    }
    .modal-wrapper {
      text-align: center;
      .big-image {
        max-width: 100%;
        max-height: 80vh;
        margin-bottom:20px
      }
      .big-product {
        max-width: 100%;
        margin-bottom:20px
      }
    }
  }
}
.popover-inner {
  background: white;
  padding: 10px;
}
